body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
  /* background-color: aqua; */
}
:root {
  --main-color: #e76012;
  --secondary-color: #2b817a;
  --main-bg-color: #24928c;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
}

header {
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 30;
}
header .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  height: 50px;
  display: block;
}

.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 20px;
  transition: left 0.3s;
}

.navbar.show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}
.navbar ul a {
  all: unset;
  color: #444444;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
}
.navbar ul a:hover {
  color: #111111;
  text-decoration: underline overline;
  text-decoration-thickness: 3px;
}

.close-nav {
  text-align: right;
  margin-bottom: 20px;
}
.close-nav button {
  all: unset;
  background: #f7f7f7;
  font-size: 42px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 3px;
  color: #444444;
}
.close-nav button:hover {
  color: #222222;
  background: white;
}

.menu-bar button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  height: 50px;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.menu-bar i {
  display: block;
  border-top: 3px solid #444444;
  border-bottom: 3px solid #444444;
}
.menu-bar i::after {
  display: block;
  content: "";
  border-top: 3px solid #444444;
  margin: 6px 0;
}
.menu-bar button:hover {
  background: white;
}
.menu-bar button:hover i {
  border-color: #222222;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

@media (min-width: 550px) {
  .navbar {
    all: unset;
    display: block;
  }
  .navbar ul {
    flex-direction: row;
    gap: 20px;
  }
  .navbar ul a {
    font-size: inherit;
  }
  .close-nav,
  .menu-bar {
    display: none;
  }
}

/* /lioye */
.hero-container {
  background-image: url(./asset/hero1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  /* height: auto; */
  display: flex;
  padding-top: 300px;
  padding-bottom: 200px;
  justify-content: center;
  align-items: center;
}
.image-container {
  width: 25%;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  background-color: #f2a62d;
}

.hero-text {
  width: 40%;
  background-color: aliceblue;
  padding: 20px;
  margin-left: -100px;
}
.hero-text p {
  line-height: 40px;
  font-size: 1.6em;
  text-align: justify;
}
.hero-text h2 {
  font-size: 3.3em;
  line-height: 80px;
  color: #e76012;
}
.fontionaliter {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  /* height: 40vh; */
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-fontionaliter {
  width: 40%;
  font-size: 1.4em;
  text-align: justify;
}
.caption-fontionaliter {
  width: 30%;
}
.titre-fontionaliter {
  text-transform: capitalize;
  color: var(--main-color);
}
.image-fontionaliter {
  width: 100%;
}
.promotions {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  /* height: 40vh; */
  gap: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e76012;
  align-items: center;
}
.promotions-fontionaliter {
  text-transform: capitalize;
  color: white;
}
.recette-contatiner {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
}
.search {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
}
.search-input {
  width: 40%;
  outline: none;
  border: none;
  font-size: 1.5em;
  padding-left: 20px;
}
.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e76012;
  width: 200px;
  color: aliceblue;
  font-size: 1.4em;
  font-weight: 300;
  font-weight: bold;
  text-align: center;
}
.search-btn:hover {
  border: var(--main-color) 1px solid;
  color: white;
  cursor: pointer;
}

.cathegories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  color: white;
}
.cathegories span {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
.cathegories span:hover {
  color: orange;
  cursor: pointer;
}
.cathegories .active {
  color: orange;
}
.recettes {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 20px;
  justify-content: left;
}
.recette {
  width: 23%;
}
.recette-s {
  background-color: aliceblue;
}
.recette img {
  width: 100%;
}
.recette .caption {
  width: 100%;
  padding-left: 15px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.caption h2 {
  color: #24928c;
  font-weight: bold;
}
.caption p {
  font-size: 1.3em;
}
.pagination {
  margin-top: 30px;
  font-size: 1.4em;
  display: flex;
  gap: 30px;
}
.pagination .previous {
  color: aliceblue;
}
.pagination .active {
  color: #e76012;
}
.pagination .next {
  color: #f2a62d;
}
.pagination .item {
  cursor: pointer;
}

.footer-container {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 2em;
  padding-left: 40px;
  padding-right: 40px;
}
.footer-container p {
  width: 80%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px);
  transition: all 1s;
}
.logo-footer {
  width: 35%;
}
.logo-footer img {
  width: 20%;
}
.logo-footer p {
  font-size: 1em;
}
.plateforme,
.client {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100px);
  transition: all 1s;
}
.hidden-up {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100px);
  transition: all 1s;
}
.hidden-botom {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100px);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.copyright {
  background-color: #f2a62d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #000;
}
.copy-link {
  display: flex;
  gap: 30px;
}
.copy-link li {
  list-style: none;
}
.copy-link li a {
  text-decoration: none;
}

@media (max-width: 1565px) {
  .hero-container {
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .promotions,
  .fontionaliter,
  .footer-container,
  .copyright,
  .copy-link {
    flex-direction: column;
  }
  .copy-link {
    align-items: start;
    justify-content: left;
  }
  .copyright {
    justify-content: left;
    align-items: start;
  }
  .footer-container {
    padding-left: 20px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
  }
  .hero-container {
    margin-top: -200px;
    padding-top: 300px;
    padding-bottom: 100px;
  }
  .hero-text {
    margin-left: 0;
  }
  .hero-text p {
    text-align: left;
    font-size: 1.2em;
    line-height: 30px;
  }
  .hero-text h2 {
    line-height: 10px;
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
  }
  .search {
    width: 95%;
    align-items: stretch;
    justify-content: center;
  }
  .recette {
    width: 93%;
  }
  .logo-footer,
  .plateforme,
  .client {
    font-size: 0.8em;
    width: 95%;
  }
  .promotions-fontionaliter,
  .description-fontionaliter,
  .fontionaliter,
  .image-container,
  .caption-fontionaliter,
  .hero-text {
    width: 90%;
  }
}
